#contenedorpublicacion {
    background-color: rgb(238, 238, 238);
    border-radius: 30px;
    padding: 4%;
    margin-bottom: 10%;
    color: rgb(66, 66, 66);
    font-family: Arial, Helvetica, sans-serif;
}

#puntuacion {
    width: 67%;
    font-size: 15px;
    padding: 10px;
}

.deshabilitado {
    color: white;
    font-size: 15px;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    text-align: center;
    outline: none;
    background-color:#cccccc;
    font-weight: lighter;
    cursor: not-allowed;
    pointer-events: none;
}

#puntuar {
    margin-left: 2%;
    font-size: 15px;
    padding: 10px;
}

.puntua {
    float: right;
}

#p {
    display: flex;
    width: 255px;
}

#imagen {
    width: 300px;
    height: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    border-radius: 2%;
}

#content {
    display: flex;
}

#link {
    margin-top: 2%;
}

#puntaje {
    margin-top: 170px;
}